* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: white;
}

.navbar {
    background: linear-gradient(to right, #000, transparent, #4d1f41, #063169);
    opacity: 1;
}

.intro {
    background: linear-gradient(to left, #000, transparent, #4d1f41, #063169, transparent);
}

@media (max-width: 774px) {
    .intro {
        background: linear-gradient(to bottom, #000, transparent, #4d1f41, #063169);
    }
}

.introImg {
    animation: scaling 2s linear infinite;
}

@keyframes scaling {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.1;
    }

    100% {
        scale: 1.2;
    }
}

.dnldrsmbtn {
    animation: movetopbtm 2s linear infinite;
}

@keyframes movetopbtm {
    0% {
        margin-top: -3px;
    }

    50% {
        margin-top: 0px;
    }

    100% {
        margin-top: 3px;
    }
}

.skills {
    background: linear-gradient(to bottom, #063169, #023e6e, #990992, #025e9b, transparent, #031727);
}

.progress::-webkit-progress-value {
    background: linear-gradient(to right, #031727, #6fabd3, #025e9b);
}
.projects{
    background: linear-gradient(to bottom, #031727, #101011, #0c0c0c);
}

.projectCard{
    background: linear-gradient(to bottom right, transparent, #023e6e, #990992, #025e9b);
}

.education{
    background: linear-gradient(to bottom, #0c0c0c, transparent, transparent);
}
.contactForm{
    background: linear-gradient(to bottom, transparent, #023e6e, #990992, #025e9b, transparent);
}